<nav>
    <h2 class="menu-label is-large content">Edwin Wallin</h2>
    <ul class="menu-list is-medium content">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        {{#unless isLoggedIn}}
            <li><a href="/login">Admin Login</a></li>
        {{/unless}}
    </ul>
    {{#if isLoggedIn}}
        <h2 class="menu-label is-large content">Admin</h2>
        <ul class="menu-list is-medium content">
            <li><a href="/admin/post/create">Create Post</a></li>
            <li><a href="/admin/images/view">Manage Images</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    {{/if}}
</nav>
