<div>
    {{#each posts}}
        <div class="square-wrapper has-shadow">
            <a href="/portfolio/{{ postID }}">
                <div class="square zoom" style="background-image: url('/images/{{ imageName }}.{{fileExtension}}');">
                    <h1>{{ title }}</h1>
                </div>
            </a>
        </div>
    {{/each}}
</div>
