<div class="columns is-multiline">
    {{#each images}}
        <div class="column is-4">
            <a class="delete is-large" href="#"></a>
            <img class="is-square is-flex" src="/images/{{imageName}}.{{fileExtension}}"/>
        </div>
    {{/each}}
</div>