<h1 class="content is-large">Contact Edwin Wallin</h1>
<p>You can contact me on any of the below channels of communication:</p>
<p><span style="font-weight: bold;">E-mail:</span><a href="mailto:edwin.wallin@dequilla.com"> edwin.wallin@dequilla.com</a></p>
<p><span style="font-weight: bold;">Phone:</span> 0762620487</p>