<div class="post-element">
    <form method="POST" action="/login">
        <input class="input" type="text" name="username" placeholder="Username">
        <input class="input" type="password" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input class="button" type="submit" value="Log in">
    </form>
</div>
