<div class="container main">
    <form class="columns is-multiline" method="POST" action="/admin/post/create">
        <div class="column is-4"><label for="title">Post name:</label><input class="input" type="text" name="title"/></div>
        <div class="column is-4"><label for="body">Body:</label><textarea style="resize: vertical;" class="input" name="body"></textarea></div>
        <div class="column is-4"><label for="imageID">Image ID:</label><input class="input" type="number" name="imageID"/></div>
        <div class="column is-4"><input class="input" type="submit"/></div>
    </form>
</div>
