.colors {

/* Monochromatic Red Scheme: */
/* Gray-Red:*/
background-color: #C29B94;

/* Brick-Red: */
background-color:#8C4D41;

/* Concrete-Red: */
background-color: #755E5A;

/* Bright-Red: */
background-color: #C26A5A;

/* Black-Red: */
background-color: #423533;

}